{% extends 'base.html' %}
{% block title%}
Головна сторінка
{% endblock %}


{% block body%}

    <div class="bgd" style="margin-left:-104px; margin-left: -104px; margin-top: -1010px; height: 104.2vh">

        <div style="width: 1000px; font-size: 18px">

            </div>
    <button type="button" onclick="window.location.href = '/products';" class="prc btn btn-lg btn-block btn-primary "style="margin-left: 270px; margin-top: -300px">Перейти до перегляду курсів
    </button>
    </div>


{% endblock %}